nav{
    text-align: center;
}

#navbar li{
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    
}

#navbar li a{
    color: black;
    display: block;
    width: 100px;
    padding: 5px 10px;
    text-decoration: none;
}

li a.active{
    color: blue;
}

nav{
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid;
}

img{
    height: 20px;
    width: 20px;
}

.year-month-indicator{
    display: flex;
    align-items: center;
}