.myContainer{
    display: flex;
    flex-grow: 1;
}


.content{
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 10px;
    background-color: rgb(206, 218, 218);
}

.summary{
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}

.summary>div{
    padding: 30px 50px;
}

.addExpenseBox{
    box-sizing: border-box;
    border: 1px solid ;
    border-radius: 5px;
    margin: 30px;
    display: grid;
    grid-template-columns: 100px 200px;
    flex-grow: 1;
    place-content: center;
    gap: 10px 20px;
    align-items: center;
}

input[type="radio"]{
    height: 20px;
}
input{
    height: 30px;
}

.addExpenseBtn{
    padding: 10px;
    margin:20px;
    grid-column: 1 / span 2;
    height: auto;
}

.radio-button{
    display: flex;
    justify-content: center;
}